.widget-icon {
  width:64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e1dcdc;
  border-radius: 30px;
  position: fixed;
  bottom: 20px;
  right: 30px;
}

.widget-icon:hover {
  background-color: #ccc;
}

.widget-icon:active {
  opacity: 0.5;
}